input[type="text"].form-control, .form-group input[type="text"]  {
  color: #5d5f5d;
  -webkit-appearance: none;
  -moz-appearance:    none;
   appearance:        none;
}

input[type="text"].form-control:focus, 
input[type="text"].form-control:active, 
.form-group input[type="text"]:focus, 
.form-group input[type="text"]:active{
  box-shadow: none;
  outline: none;
  border: 1px solid #742b96;
}

input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
  outline: none;
  outline-offset: -2px;
}

input[type="checkbox"], input[type="radio"] {
    display:none;
}

input[type="checkbox"] + label,
input[type="radio"] + label{
  color: #696763;
  padding-left: 0;
  position: relative;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}



input[type="checkbox"] + label span, 
  input[type="radio"] + label span{
  border: 1px solid #ccc;
  border-radius: 3px;
  display:inline-block;
  width:15px;
  height:15px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span::before,
input[type="radio"]:checked + label span:before {
  display: block;
  font-family: "fontawesome";
  font-size: 12px;
  position: absolute;
} 

input[type="checkbox"]:checked + label span::before {
  content: "\f00c";
  left: 2px;
  top: 2px;
}

input[type="radio"] + label span {
  border-radius: 50px;
}

input[type="radio"]:checked + label span::before {
  content: "\f111";
  font-size: 7px;
  left: 5px;
  top: 6px;
}

.normal-text label{
  font-weight: normal;
}

.btn{
  font-size: 13px;
}

.btn.btn-karm{
  background: #f89939 none repeat scroll 0 0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn.btn-karm:hover{
  background: #f89939 none repeat scroll 0 0;
  color: #ffffff;
}

.content-wrapper .nav-tabs{
	float: left;
	width: 20%;
}

.content-wrapper .nav-tabs > li{
	float: none;
	width: 100%;
}

.content-wrapper .nav-tabs > li a{
	background: #fff;
	border-radius: 0;
	border: 1px solid #ddd;
	color: #696763;
}

.content-wrapper .nav-tabs > li a:hover{
	border: 1px solid #ddd;
}

.content-wrapper .nav-tabs > li:first-child a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.content-wrapper .nav-tabs > li:last-child a {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.content-wrapper .nav-tabs > li.active a{
	background: #f89939;
	color: #fff;
}

.content-wrapper .tab-content {
  float: left;
  margin-left: 10px;
  width: 79%;
}

.asterisk{
	color: #f4645f;
}


/** 
 **few backend css -
 **by Yojan 
 **/
   .display-none{   
      display: none;    
   }    
      
  /*use image as background */    
  .show-img-bg{   
    background-size: cover;   
    background-position: center center;   
    height: 200px;    
  }
  .single-gallery .show-img-bg{   
    height: 300px;    
  }
 /** end of css by yojan **/

@media only screen and (max-width: 767px) {
    .content-wrapper .nav-tabs{
		width: auto;
	}

	.content-wrapper .tab-content {
	  margin-left: 0;
	  width: auto;
	}

	.content-wrapper .nav-tabs > li{
		float: left;
		width: auto;
	}
}

#product-table.table-bordered .list-inline > li{
  padding-right: 0;
  padding-left: 4px;
  margin-right: 3px;
}

#product-table.table-bordered .list-inline > li:last-child{
  margin-right: 0;
}

#product-table.table-bordered .list-inline > li a{
  padding: 5px;
}

.box-header.with-border .box-title {
  padding-left: 5px;
}

.table-responsive #product-table_length {
  padding-left: 9px;
}

#bulkDeleteForm .dropup {
  margin-top: 10px;
}

.dropup .dropdown-menu{
  -webkit-box-shadow: 13px 10px 10px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 10px 10px -10px rgba(0,0,0,0.75);
  box-shadow: 13px 10px 10px -10px rgba(0,0,0,0.75);

  min-width: 200px;
}

.dropup .dropdown-menu > li{
  padding: 2px 0;
}

.dropup .dropdown-menu > li:nth-child(2n) {
  border-bottom: 1px solid #d2d6de;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.dropup .dropdown-menu a{
  color: #333;
}

.dropup .dropdown-menu a:hover{
  background: #ffffff;
  color: #333;
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover{
  background: #f89939;
  border-color: #f89939;
}

/* error input */



@media only screen and (max-width: 767px) {
  
  .box-body .table-responsive .dataTables_wrapper.form-inline.dt-bootstrap.no-footer {
    margin-top: 5px;
  }

}

.box-default .box-body .form-group span{
  width: 100%;
} 

.box-default .box-body .form-group span i.fa-folder-open{
  margin-right: 5px;
}

.gallery-wrapper .single-gallery{
  margin-bottom: 10px;
}

.feature-wrapper .single-feature{
  margin-bottom: 15px;
}

.featured-image .show-img-bg{
  margin-top: 10px;
}


