/* #Media Queries
================================================== */
 

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width:1060px) {
	.navigation .social-list a{
		margin-right: 0;
	}
	.navigation .main-nav li{
		margin-left: 10px;
	}
	.navigation .main-nav li a{
		padding-left: 8px;
		padding-right: 8px;
	}

	.testimonials .owl-carousel{
		width: 100%;
	}
}



/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:960px) {

}
@media only screen and (min-width:768px) and (max-width:990px) {
	.thumbnail .thumb-hover{
		height: 190px;
	}
	.testimonials .owl-nav button.owl-prev{
		left: -40px;
	}
	.testimonials .owl-nav button.owl-next{
		right: -40px;
	}

	.thumb-image{
		height: 200px;
	}

	.contact-info li{
		width: 100%;
		float: none;
	}
}
@media only screen and (min-width:768px) and (max-width:1024px) {

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
	
	.sticky-wrapper{
		display: none;
	}

    .top-content a.logo{
    	width: 90px;
    }
    .right-content li{
    	float: left;
    }
	.toggle-icon{
		width: 30px;
	}
	.toggle-icon .bar{
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	.toggle-icon .bar:nth-child(2){
		margin-top: 6px;
	}
	.toggle-icon .bar:nth-child(3){
		margin-top: 6px;
	}

	.mobile-menu{
		display: block;
		position: fixed;
	    right: -100%;
	    width: 300px;
	    top: 0;
	    background: #000;
	    padding:0 15px 15px 15px;
	    z-index: 9999;
	    height: 100vh;

	    -webkit-transition: all 0.25s ease-in-out;
	    -o-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;
	}
	.menu-header{
		border-bottom:1px solid #2d2d2d;
		padding:10px 0;
		position: relative;
	}
	.menu-header h5{
		text-transform: capitalize;
		margin: 0;
	}
	.menu-header .close-btn{
		position: absolute;
		top: 10px;
		right: 0;
	}
	.mobile-menu li{
		padding:8px 0;
	}
	.mobile-menu li i{
		float: right;
	}
	.mobile-menu a{
		color: #fff;
		text-transform: capitalize;
	}


	.thumbnail{
		margin-bottom: 30px;
	}

	.owl-nav button[class*="owl-"], .owl-nav button[class^="owl-"]{
		position: static;
	}
	.testimonials .owl-nav button.owl-next{
		margin-left: 20px;
	}


	/* -- ACCOMODATION --*/
	.thumb-image{
		margin-bottom: 30px;
	}


}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {
}
  
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {
	.contact-info li{
		width: 100%;
		float: none;
	}

}