@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,500,500i,600,700,800,900|Open+Sans:300,300i,400,400i,600,600i,700,800|Rouge+Script|Tangerine:400,700');@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,800,900');

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #dcdcdc;
    margin-top:100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}
h1,
h2{
	font-weight: 600;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}
ul.inline-list li{
	display: inline-block;
	margin-right: 15px;
}
ul.inline-list li:last-child{
	margin: 0;
}
iframe{
	width: 100%;
	height: 100%;
}


.mt-20{
	margin-top: 20px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-50{
	margin-bottom: 50px !important;
}
.mb-100{
	margin-bottom: 100px;
}
.mt-100{
	margin-top: 100px;
}
.pt-100{
	padding-top: 100px;
}
.pb-100{
	padding-bottom: 100px;
}
.bg-cover {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.gray{
	background-color: #eeeeee;
}
[class*="overlay-"],
[class^="overlay-"]{
	position: relative;
}
[class*="overlay-"]:after,
[class^="overlay-"]:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay-dark:after{
	opacity: 0.2;
	background-color: #fff;
}

.overlay-dark:after{
	opacity: 0.3;
	background: #000;
}
[class*="overlay-"] .container,
[class^="overlay-"] .container{
	position: relative;
	z-index: 2;
}

/* -- Section Design --*/
section,
.section{
	padding-top: 100px;
}
section.full-width,
.section.full-width{
	padding-bottom: 100px;
	margin-top: 100px;
}
.section-title{
	margin-bottom: 50px;
	text-align: center;
}
.section-title h2{
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-title.title-white h2,
.section-title.title-white p{
	color: #fff;
}
/* -- Button Design --*/
.btn{
	border-radius: 0;
	text-transform: capitalize;
	padding: 8px 20px;
	font-size: 14px;
	line-height: normal;
}
.btn:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-lg{
	padding:10px 25px;
}
.btn-border{
	border-color: #fff;
	color: #fff;
}
.btn-border:focus,
.btn-border:hover{
	background-color: #340700;
	color: #fff;
	border-color: #340700;
}
.btn-red{
	background-color: #db1d2b;
	border:#db1d2b;
	color: #fff;
}
.btn-red:hover,
.btn-red:active{
	background-color: #c1202c;
	border:#c1202c;
	color: #fff;
}
.btn-green:not(:disabled):not(.disabled).active, 
.btn-green:not(:disabled):not(.disabled):active, 
.show>.btn-green.dropdown-toggle{
	background-color: #9E3A05;
	border:#9E3A05;
	color: #fff;
	box-shadow: none;
}


/* SLIDER
-----------------------------------*/
.slider{
	position: fixed;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
}
.slider .item{
	height: 100vh;
}
.slider .sticky-caption{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	z-index: 2;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.slider .sticky-caption h2{
	color: #fff;
	text-transform: uppercase;
}
.stars ul{
	display: inline-block;
	position: relative;
	padding:0 5px;
	margin: 0px;
}
.stars ul:after,
.stars ul:before{
	content: "";
	position: absolute;
	height: 2px;
	width: 100px;
	background-color: #fff;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.stars ul:after{
	right: -100%;
}
.stars ul:before{
	left: -100%;
}
.stars li{
	color: #db1d2b;
	font-size: 16px;
	margin-right: 5px !important;
}

.top-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.top-content a.logo{
    display: block;
    width: 110px;
}
.top-content .right-content ul{
	margin: 0;
}
.top-content .right-content li{
	color: #fff;
}

/* NAVIGATION
-----------------------------------*/
.mobile-menu{
	display: none;
}
.navigation{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.7);
	z-index: 3;
	/* padding:15px 0; */
}
.navigation ul{
	margin: 0;
}
.navigation .social-list a{
	font-size: 16px;
	color: #fff;
	margin-right: 15px;
}
.navigation .social-list a:hover{
	color: #db1d2b;
}
.navigation .main-nav{
	text-align:right;
}
.navigation .main-nav li,
.navigation .main-nav li:last-child{
	margin: 0 0 0 20px;
}
.navigation .main-nav a{
	color: #fff;
	text-transform: capitalize;
	display: block;
	position: relative;
	padding:15px 10px;
}
.navigation .main-nav a:after{
	content: "";
	height: 2px;
	width: 0;
	background-color: #db1d2b;
	position: absolute;
	bottom: 0;
	display: block;
	left: 0;


	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.navigation .main-nav >  li.active > a,
.navigation .main-nav >  li.active > a:after,
.navigation .main-nav a:hover,
.navigation .main-nav a:hover:after{
	width: 100%;
	color: #db1d2b;

}
.navigation.stuck{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 54px;
}
.navigation .col-lg-8{
	position: static;
}
.navigation .mega-menu{
    position: absolute;
    bottom: -50px;
    background: rgba(0,0,0,1);
    padding: 0 15px;
    left: 0;
    right: 0;
	 opacity: 0;
	 visibility: hidden;

    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.navigation li:hover .mega-menu{
opacity: 1;
visibility: visible;
}

/* MAIN CONTENT
-----------------------------------*/
.main-content{
	position: relative;
	background-color: rgba(0,0,0,0.9);
}
.title{
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	position: relative;
	margin-bottom: 30px;
}
.title:after{
	content: "";
	bottom: -10px;
	width: 100px;
	height: 2px;
	background-color: #db1d2b;
	position: absolute;
	left: 0;

}
.thumbnail .thumb-hover{
	height: 250px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}
.thumbnail .image-holder{
	height: 100%;
	display: flex;
 	justify-content: center; 
	align-items: center

	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);

	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
.thumbnail .thumb-hover .play{
	font-size: 40px;
	color: #fff;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.thumbnail .thumb-hover .play:hover{
	opacity: 1;
}
.thumbnail:hover .thumb-hover .image-holder{
	-webkit-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.section-title{
	position: relative;
}
.section-title:after{
	content: '';
	height: 2px;
	width: 80px;
	background-color: #db1d2b;
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.section-title h4{
	margin: 0;
	text-transform: capitalize;
	color: #fff;
	font-weight: 600;
}

.section.testimonials{
	background:rgba(31,31,31,0.7);
	padding: 50px;
}
.testimonials .owl-carousel{
	width: 750px;
	margin: 0 auto;
	text-align: center;
}
.testimonials .auther-text{
	margin-bottom: 30px;
}
.testimonials .auther-info h5{
	color: #db1d2b;
	text-transform: capitalize;	
	font-weight: 600;
}
.testimonials .auther-info span{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-size: 16px;
}
.owl-nav button[class*="owl-"],
.owl-nav button[class^="owl-"]{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

}
.owl-nav button[class*="owl-"] span,
.owl-nav button[class^="owl-"] span{
	font-size: 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 25px;
	width: 25px;
	display: block;
}
.testimonials .owl-nav button.owl-next{
	right: -20%;
}
.owl-nav button.owl-next span{
	background-image: url(../../../images/right-arrow-white.png);

}
.testimonials .owl-nav button.owl-prev{
	left: -20%;
}
.owl-nav button.owl-prev span{
	background-image: url(../../../images/left-arrow-white.png);
}
.owl-theme .owl-nav [class*='owl-']:hover,
.owl-theme .owl-nav [class*='owl-']:focus {
	outline: none;
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-nav button.owl-next{
	right: 20px;
}
.owl-nav button.owl-prev{
	left: 20px;
}

/* FOOTER SECTION
-----------------------------------*/
.menu-footer ul{
	border-top: 1px solid #2e2e2e;
	text-align: center;
	padding:20px 0;
}
.menu-footer ul li{
	border-right: 1px solid #2e2e2e;
	margin: 0;
	padding: 0 20px;
}
.menu-footer ul li a{
	text-transform: uppercase;
	color: inherit;
}
.menu-footer ul li a:hover{
	color: #fff;
}
.menu-footer ul li:last-child{
	margin: 0;
}
.main-footer{
	background-color: #0b0b0b;
	padding-bottom: 50px;
}
.main-footer .footer-logo{
	margin-bottom: 50px;
}
.main-footer .footer-logo h2{
	font-size: 30px;
	color: #fff;
	text-transform: capitalize;
}
.main-footer .footer-social{
	text-align: center;
}
.main-footer .footer-social ul a{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: block;
	color: #fff;
	font-size: 18px;
}
.main-footer .footer-social a.fb{
	background:#3b5998;
}
.main-footer .footer-social a.insta{
	background:#e4405f;
}
.main-footer .footer-social .trip_advisor{
	display: block;
	width: 150px;
	background: #fff;
	padding:10px;
	margin: 50px auto;
}
.main-footer .footer_copyright p{
	text-transform: uppercase;
	margin: 0;
	font-size: 13px;
}
.main-footer .footer_copyright a{
	color: inherit;
}
.main-footer .footer_copyright a:hover{
	color: #fff;
}

/* ACCOMMODATION
-----------------------------------*/
.link{
	color: inherit;
	text-transform: capitalize;
	color: #2d2d2d;
}
.dynamic-content{
	margin-bottom: 100px;
	padding-top: 100px;
}
.thumb-image{
	display: table;
	height: 300px;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.thumb-image:after{
	content: "";
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	z-index: 1;
}
.thumb-image .image-holder{
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;

	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;

	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
}
.thumb-image:hover .image-holder{
	-webkit-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.thumb-image .thumb-caption{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	text-align: center;
}
.thumb-image .thumb-caption .thumb-title{
	margin: 0;
	display: inline-block;
	position: relative;
	padding:10px;
	color: #fff;
	text-transform: capitalize;
}
.thumb-image .thumb-caption .thumb-title:before,
.thumb-image .thumb-caption .thumb-title:after{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	z-index: 4;
	height: 2px;
	background-color: #fff;

	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-image .thumb-caption .thumb-title:before{
	left: 0;
	top: 0;
}
.thumb-image .thumb-caption .thumb-title:after{
	right: 0;
	bottom: 0;
}
.thumb-image:hover .thumb-caption .thumb-title:after,
.thumb-image:hover .thumb-caption .thumb-title:before{
	width: 100%;
}

.thumb-image.sm-thumb{
	height: 250px;
}


/* CONTACT PAGE
-----------------------------------*/
.form-group label{
	text-transform: capitalize;
}
.form-group .form-control{
	border-radius: 0;
	background-color: rgba(31,31,31,0.8);
	border-color:rgba(31,31,31,0.8);;
	color: #fff;
}
.form-group .form-control:focus{
	border-color: rgba(31,31,31,1);
	box-shadow: none;
}
.map{
	height: 300px;
	margin: 50px 0;
}
.contact-info li{
	text-transform: capitalize;
	width: 50%;
	float: left;
	margin-bottom: 15px;
}
.contact-info li strong{
	display: inline-block;
	width: 30%;
}
.contact-info li a{
	color: inherit;
}

/* ABOUT PAGE
-----------------------------------*/
.page-title{
	text-transform: capitalize;
	margin-bottom: 30px;
}
.lead{
	font-size: 16px;
}
.about-content .video{
	height: 250px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    align-items: center;
    justify-content: center;
}
.about-content .video .play{
	font-size: 30px;
	color: #fff;
}
.about-content .services .block-row{
	margin-bottom: 50px;
}
.about-content .services .image-holder{
	height: 300px;
}

.about-content .services .description{
	padding:30px 0;
}

/* FACILITIES PAGE
-----------------------------------*/
.facilities-content .feature-slider .item{
	height: 300px;
}

.check-list li{
	position: relative;
	padding-left: 20px;
	text-transform: capitalize;
	margin-bottom: 10px;
	width: 50%;
	float: left;
}
.check-list li:before{
	content:"\f00c";
	font-family: 'Font Awesome 5 Free';
	display: block;
	font-weight: 900;
	position: absolute;
	top: 0;
	left: 0;
	color:#db1d2b;
	font-size: 13px;
}

