
/* login page */
.login-page .logo-section {
  text-align: center;
}
.login-page{
  background:#E9E9E9;
}
.login-page .login-box-body{
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  background:#fff;
}
.login-page .logo-section img {
  height: 120px;
}
.login-page .form-control{
  padding: 10px;
  border-width: 1px 1px 1px 1px;
  border-color: transparent transparent #ccc transparent;
  border-style: solid;
  height: 40px;
  box-shadow: none;
  border-radius: 0;
  
}
.login-page .form-group:before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background:#F89839;
  content:'';
   -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}
.login-page .form-group.open:before{
  width: 100%;
 -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}
/* .login-page .form-group > label {

   -webkit-transform: translate3d(0px, 30px, 0px);
   -ms-transform: translate3d(0px, 30px, 0px);
   -o-transform: translate3d(0px, 30px, 0px);
   transform: translate3d(0px, 30px, 0px);
 

    -webkit-transition: transform 0.25s ease-in-out 0s;
    -o-transition: transform 0.25s ease-in-out 0s;
    transition: transform 0.25s ease-in-out 0s;
    font-weight: 100;
    font-size: 16px;
    color: #7d7d7d;
} */
.login-page .form-group.open > label,
.login-page .form-group > label {
   -webkit-transform: translate3d(0px, 0px, 0px);
   -ms-transform: translate3d(0px, 0px, 0px);
   -o-transform: translate3d(0px, 0px, 0px);
   transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  /* color: #ccc; */
  color: #333;
  font-weight:400;
}
.login-page .btn-primary {
  background-color: transparent;
  border-color: #ccc;
  padding: 12px 12px;
  font-size: 16px;
  color: #ccc;
  border-width:2px;
  border-radius: 0;
      -webkit-transition: background 0.25s ease-in-out 0s, border 0.5s ease-in-out 0s;
    -o-transition: background 0.25s ease-in-out 0s, border 0.5s ease-in-out 0s;
    transition: background 0.25s ease-in-out 0s, border 0.5s ease-in-out 0s;
}
.login-page .btn-primary:hover {
  background-color: #F89839;
  
  border-color: #E58C39;
  color: #fff;
  -webkit-transition: background 0.25s ease-in-out 0s, border 0.5s ease-in-out 0s;
  -o-transition: background 0.25s ease-in-out 0s, border 0.5s ease-in-out 0s;
  transition: background 0.25s ease-in-out 0s, border 0.5s ease-in-out 0s;
  
}
.login-page .radio, 
.login-page .checkbox {  
  margin-bottom: 30px;
  margin-top: 20px;
}
.login-page .checkbox > label{
  padding-left: 0;
}
.login-box, .register-box {
  margin: 4% auto;
  width: 400px;
}


.login-box-body,
.register-box-body {
  padding: 20px 40px 50px;
}
.login-logo, 
.register-logo {
  margin-bottom: 40px;
}
.login-page .icheckbox_square-orange, 
.login-page .iradio_square-orange{
  margin-right: 10px;
}

@media only screen and (min-width:1500px) {
  .login-box, .register-box {
    margin: 10% auto;
  }

}


input.form-control:-webkit-autofill {
    background-color: white !important;
}